<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="com.example.demo.database.DTO"/>
    </typeAliases>
    <mappers>
        <mapper resource="com/example/demo/database/Mapper/AttendanceMapper.xml"/>
        <mapper resource="com/example/demo/database/Mapper/branchmapper.xml"/>
        <mapper resource="com/example/demo/database/Mapper/lecturemapper.xml"/>
        <mapper resource="com/example/demo/database/Mapper/VacationMapper.xml"/>
        <mapper resource="com/example/demo/database/Mapper/PaymentMapper.xml"/>
        <mapper resource="com/example/demo/database/Mapper/VacationApplyMapper.xml"/>
    </mappers>
</configuration> 