<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.Mapper.ConsultMapper">

    <insert id="insertConsult" parameterType="java.util.HashMap">
        INSERT INTO consut VALUES (null,#{name},#{hp},#{schedule},#{memo},#{writer},#{route})
    </insert>

    <select id="getList" resultType="ConsultDTO" parameterType="java.util.HashMap">
        select * from consult where name like CONCAT('%', #{keyword}, '%')
    </select>

    

</mapper> 