<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.database.Repository.HrMapper">

    <select id="getSal" resultType="EmployeeDTO">
    select * from employee;    
    </select>

    <select id="getSalEmp" resultType="EmployeeDTO" parameterType="int">
    select * from employee where no = #{no};
    </select>

</mapper>