<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.database.Mapper.StuAttMapper">

    <select id="getAtt" resultType="Stu_AttDTO" parameterType="String">
    select a.*, l.name as lecname from stu_att a,lecture l where l.no = a.lecture and a.name = #{name};
    </select>

    <select id="getLec" resultType="LectureDTO" >
    select * from lecture;
    </select>

    <select id="getLecStu" resultType="StudentDTO" parameterType="String">
    select s.*, l.name as lecname from student s inner join lecture l ON l.no = s.lecture where l.name = #{lec};
    </select>

    <select id="getPayList" resultType="StudentDTO" parameterType="long">
        SELECT a.*,b.no as lectureNo,b.name as lectureName,b.price,b.start_date,b.end_date from student a inner join lecture b ON a.lecture = b.no WHERE a.no =#{student};
    </select>
</mapper>