<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.database.Repository.VacationRepository">
    <select id="getVacation" resultType="VacationEntity" >
        SELECT ROW_NUMBER() OVER() as RN, A.* 
                FROM (
                    select * from vacation 
                ) A ORDER BY no ASC LIMIT #{start}, #{cntPerPage} 
    </select>

    <insert id="insertVacation" parameterType="VacationEntity">
        insert into vacation values (null, #{day}, #{employee_no}, #{name}) 
    </insert> 

    <select id="count" resultType="int">
        select count(*) from vacation
    </select>

    <select id="getVacation_user" resultType="VacationEntity" >
        SELECT ROW_NUMBER() OVER() as RN, A.* 
                FROM (
                    select * from vacation where employee_no=#{no}
                ) A ORDER BY no ASC LIMIT #{start}, #{cntPerPage} 
    </select>

    <select id="count_user" resultType="int">
        select count(*) from vacation where employee_no=#{no}
    </select>

    <select id="vacation" resultType="VacationEntity" >
        select * from vacation where no=#{no}
    </select>
    
    <update id="VacationPut">
        update vacation set name=#{name}, employee_no=#{employee_no}, day=#{day} where no=#{no}
    </update>

    <delete id="VacationDelete">
        delete from vacation where no=#{no}
    </delete>
</mapper>  
